body {
	background-color: transparent;
}
    
#div-body {
                    
	display: table-cell;
        vertical-align: top
        background-color: transparent;
        filter:alpha(opacity=80); 
        -moz-opacity: 0.9; 
        opacity: 0.9; 
        width: 95%; 
        margin:0 auto;
        top: 0%;
        position: absolute;
        padding-left: 0px;
}
        
#div-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #CFEEF8;
}