<apex:page docType="html-5.0" id="myPage" controller="AdoptionRateReportController" sidebar="False" standardStylesheets="false" tabStyle="Custom_Reports__tab" >

    <apex:form id="myForm">
        <head>
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
            <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css"></link>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>  
            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
            <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      
        </head>
        <apex:sectionHeader title="" subtitle="Adoption Rate Report"/>
        <apex:actionStatus id="loadingStatus">
            <apex:facet name="start">
                <div class="loading">
                    <div class="loadingImage">
                        <img class="waitingImage" src="{!$Resource.EP_CRM_Loading}" title="Please Wait..." />
                        <span class="waitingDescription">Please Wait...</span>
                    </div>
                </div>
            </apex:facet>  
        </apex:actionStatus>
        <body>
            
 
            <apex:outputpanel rendered="{!blnisTblNoRoleRender}">
            <apex:outputlabel value="User does not have any role assigned. Kindly contact System Administrator."/>
            </apex:outputpanel>
            
            <apex:outputpanel rendered="{!blnissalesmsgRender }">
            <apex:outputlabel value="Report access is restricted to Sales Users. Kindly contact System Administrator."/>
            </apex:outputpanel>
      
        </body>
 
        
        <apex:outputpanel rendered="{!blnisTblRender}"> <!-- Global Render-->
        <!-- Sales Manager View Start -->
             <apex:pageBlock >
                <apex:pageBlockSection columns="2">
                    <apex:pageBlockSectionItem >
                        From Date:<input id="txtStartDate" type="text" value="{!fromDate}"/><!--commented by sk value="{!fromDate}"/>-->                                                
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                       To Date:<input id="txtEndDate" type="text" value="{!uptodate}"/>
                       
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                         <apex:commandButton value="Run Report" id="btnRefineRslt" onclick="passDates();return false;"/>
                    </apex:pageBlockSectionItem>
                </apex:pageBlockSection>
            </apex:pageBlock>
       </apex:outputpanel>     
       
       <!-- Sales manager View-->
            <apex:outputpanel id="salestbl" rendered="{!blnisTblRender}"> <!-- Global Render  : rendered="{!blnisSalesTblrender}">        -->
        <apex:outputPanel id="table2" >
            <apex:pageBlock >
            <apex:pageblockTable styleClass="table table-bordered" value="{!UserActivityList}" var="ua" id="table">
                <apex:column rendered="{!blnshowcolumn}" >                
                    <apex:facet name="header">Segment</apex:facet>
                            {!ua.roleName}
                </apex:column>
                <apex:column rendered="{!blnisGlobalExecutive}" >                
                    <apex:facet name="header">Geo1</apex:facet>
                            {!ua.roleName}
                </apex:column>
                <apex:column rendered="{!blnisCountryExecutive}" >                
                    <apex:facet name="header">Geo2</apex:facet>
                            {!ua.roleName}
                </apex:column>
                <apex:column >
                    <apex:facet name="header"># of Users</apex:facet>
                    <apex:commandLink id="totalUsers" action="{!showhideTotalUsers}"  rerender="salestbl,UserPanel"> <!--rendered="{!blntulink}"-->                   
                            {!ua.totalUsers}
                    </apex:commandLink>                 

                    <apex:outputpanel id="dummypannel1"/>
                </apex:column>
        
                <apex:column >
                    <apex:facet name="header"># Wall of Fame</apex:facet>
                    <apex:commandLink id="theCommandLink4" action="{!showhidewofUsers}"  rerender="salestbl,UserPanel-4"> <!--rendered="{!blnwoflink}"-->
                            {!ua.HOFUsers}
                    </apex:commandLink>
                    <!--<apex:outputlabel style="font-weight:normal;" value="{!ua.HOFUsers}" rendered="{!blnwofnolink}"/>-->
                </apex:column>
 
                <apex:column >
                    <apex:facet name="header"># Wall of Shame</apex:facet>
                    <apex:commandLink id="theCommandLink3" action="{!showhideinactiveUsers}"  rerender="salestbl,UserPanel-2"><!--rendered="{!blnwoslink}"-->
                            {!ua.activeUsers}
                    </apex:commandLink>
                    <!--<apex:outputlabel style="font-weight:normal;" value="{!ua.activeUsers}" rendered="{!blnwosnolink}"/>-->                    
                </apex:column>
            </apex:pageblockTable>
           
            </apex:pageBlock>
        </apex:outputPanel> 
        
                         
        
        
        <!-- Drill Down view : Reusable for all profiles -->
        <apex:outputPanel id="UserPanel" rendered="{!blnshowtotaluserstbl}">
            <table class="table table-bordered">
            <apex:outputlabel value="All User Details" style="{font-weight:bold}"/>
                <thead> <!--<b>All User Details</b>-->
                    <tr>               
                    <th>User Name</th><th>Email</th>                
                    <th>Role</th><th>Profile</th><th>Active</th> 
                    <!-- <th>{!currentRoleId} </th>                -->
                    </tr>
                </thead>                                    
                <tbody>
                <apex:repeat value="{!totalUserMap}" var="outerKey">   
                <apex:repeat value="{!totalUserMap[outerKey]}" var="user" >
                <tr>
                    <td>{!user.name}</td>
                    <td>{!user.email}</td>
                    <td>{!user.userRole.name}</td>
                    <td>{!user.Profile.name}</td>
                    <td><apex:inputCheckbox value="{!user.isActive}"/></td>
                </tr>
                </apex:repeat>
                </apex:repeat> 
                </tbody>
            </table>
          </apex:outputPanel>    
          
        <apex:outputPanel id="UserPanel-4" rendered="{!blnwofuserstbl}"> 
            <table class="table table-bordered">
            <apex:outputlabel value="Wall Of Fame Details" style="{font-weight:bold}"/>
                <thead> <!--<b>Wall Of Fame Details</b>-->
                    <tr>               
                    <th>User Name</th><th>Email</th>                
                    <th>Role</th>
                    <th>Profile</th>
                    <th># Activities Performed</th>                    
                    <th>Active</th>                
                    </tr>
                    </thead>                                    
                <tbody>
                <apex:repeat var="user" value="{!HOFUserMap}">
                <apex:repeat value="{!HOFUserMap[user]}" var="innerKey">
                <tr>                    
                    <td>{!innerKey.name}</td>
                    <td>{!innerKey.email}</td>
                    <td>{!innerKey.userRole.name}</td>
                    <td>{!innerKey.Profile.name}</td> 
                    <td>{!HOFUserMap[user][innerKey]}</td>                                                       
                    <td><apex:inputCheckbox value="{!innerKey.isActive}"/></td>
                </tr>
                </apex:repeat>
                </apex:repeat> 
                </tbody>
            </table>
        </apex:outputPanel>
                
        <apex:outputPanel id="UserPanel-2" rendered="{!blninactiveuserstbl}">
            <table class="table table-bordered">
            <apex:outputlabel value="Wall Of Shame Details" style="{font-weight:bold}"/>
                <thead><!-- <b> Wall Of Shame Details</b>-->
                    <tr>               
                    <th>User Name</th><th>Email</th>                
                    <th>Role</th><th>Profile</th>                    
                    </tr>
                    </thead>                                    
                <tbody>
               <apex:repeat var="user" value="{!inActiveUserMap }">
               <apex:repeat value="{!inActiveUserMap [user]}" var="innerKey">
                <tr>
                    <td>{!innerKey.name}</td>
                    <td>{!innerKey.email}</td>
                    <td>{!innerKey.userRole.name}</td>
                    <td>{!innerKey.Profile.name}</td>                  
                </tr>
                </apex:repeat> 
                </apex:repeat> 
                </tbody>
            </table>
        </apex:outputPanel>   
        </apex:outputPanel>
        
         <apex:actionFunction name="passDatesActionFunction" status="loadingStatus" action="{!pageblockrefresh}" rerender="reportpanel,activityList,table2,table3">
            <apex:param name="fromDate" value="" assignTo="{!fromDate}"/>
            <apex:param name="uptodate" value="" assignTo="{!uptodate}"/>
       </apex:actionFunction>
       
       <apex:actionFunction name="passDatesOnLoad" rerender="">
            <apex:param name="fromDate" value="" assignTo="{!fromDate}"/>
            <apex:param name="uptodate" value="" assignTo="{!uptodate}"/>
       </apex:actionFunction>       
       
    </apex:form>
    
    <script type="text/javascript">
       
   

    $(document).ready(function(){
    var date =$.now();
     
      var today=new Date();
      var dd = today.getDate();
      var mm = today.getMonth()+1;
      var yyyy = today.getFullYear();      
      $('#txtEndDate').val( mm+'/'+dd+'/'+yyyy);
      
      var newdate = new Date(today);
      newdate.setDate(newdate.getDate() - 6);
      var sdd = newdate.getDate();
      var smm = newdate.getMonth()+1; 
      var syyyy = newdate.getFullYear();
      
      $('#txtStartDate').val( smm+'/'+sdd+'/'+syyyy);
     
          $("#txtStartDate").datepicker({
              minDate:'-6m',         
              onSelect: function(dateText) {
              var date2 = $('#txtStartDate').datepicker('getDate');
              date2.setDate(date2.getDate() + 7);
              $('#txtEndDate').datepicker('option', 'maxDate', date2);
              },
            
            });
         
          $("#txtEndDate").datepicker({
           maxDate:0,
          });
             
       
          
         $( 'input[id$=btnRefineRslt]' ).click(function(){
           var val1=$('#txtStartDate').val();
           var val2=$('#txtEndDate').val();
           if((val1=="") || (val2==""))
           { 
              alert("Enter both dates")
           }
         })
         
        var fromDate=$('#txtStartDate').val();
        var uptodate=$('#txtEndDate').val();
        //alert('fromDate***'+fromDate+'uptodate**'+uptodate); 
        passDatesOnLoad(fromDate,uptodate);
        
    });
    
    function passDates()
    {
        //alert('hi inside passdates');
        var fromDate=$('#txtStartDate').val();
        var uptodate=$('#txtEndDate').val();
        passDatesActionFunction(fromDate,uptodate);
       
    }
    
   function setFocusOnLoad(){ /*NOOP*/ }
 
   
   
    function showhide()
    {
        alert("Hi");
        var div = document.getElementById('{!$Component.UserPanel}');
        alert(div);
        if (div.style.display !== "none") {
            div.style.display = "none";
        }
        else {
            div.style.display = "block";
        }
    }
  </script>
    
</apex:page>