<apex:page standardController="Account">
   <apex:sectionHeader title="Account Edit" subtitle="{!Account.Name}"/>

    <apex:form >
        <apex:pageBlock title="Account Edit" mode="edit">
             <apex:pageBlockButtons >
                <apex:commandButton value="Save" action="{!save}"/>
                <apex:commandButton value="Cancel" action="{!cancel}"/>
             </apex:pageBlockButtons>
            <apex:pageMessages />            
            <apex:pageBlockSection title="Account Information" columns="2">
                <apex:outputField value="{!Account.Name}"/>
                <apex:inputField value="{!Account.EP_Account_Name_2__c}" />
                <apex:outputField value="{!Account.AccountNumber}"/>
                <apex:inputField value="{!Account.OwnerId}" />
                <apex:outputField value="{!Account.RecordTypeId}" />
                <apex:outputField value="{!Account.EP_Puma_Company__c}" />
                <apex:inputField value="{!Account.EP_Customer_Category__c}" />
                <apex:inputField value="{!Account.EP_Language__c}" />
                <apex:inputField value="{!Account.EP_Logo_Id__c}" />
                <apex:inputField value="{!Account.EP_Business_Channel__c}"/>
                <apex:inputField value="{!Account.EP_Customer_Of_Customer__c}" />
                <!--84063 start-->
                <apex:inputField value="{!Account.EP_Captive_Customer_Code__c}" />
                <!--84063 end-->
                <apex:inputField value="{!Account.EP_Business_Segment__c}" />
                <apex:inputField value="{!Account.EP_Allow_Only_Manual_Invoicing__c}" />
                
                <apex:inputField value="{!Account.Non_VMI_Tank_Volume_Order_Restriction__c}" />
                <apex:outputField value="{!Account.EP_Delivery_Pickup_Country__c}" />
                <apex:inputField value="{!Account.EP_Default_Route__c}" />
                <apex:inputField value="{!Account.EP_Trading_Name__c}" />
                <apex:inputField value="{!Account.EP_Search_Name__c}" />
                
                <apex:outputField value="{!Account.EP_Customer_Activation_Date__c}"/>
                <apex:outputField value="{!Account.CurrencyIsoCode}" />
                 <!--defect 82900 start-->
                <apex:outputField value="{!Account.EP_Sell_To_Holding_Account__c}"/>
                <apex:outputField value="{!Account.EP_Balance_HCY__c}"/>
                <apex:outputField value="{!Account.EP_Overdue_Balance_HCY__c}"/>
                <!--defect 82900 end-->
                <apex:pageBlockSectionItem />
            </apex:pageBlockSection>            
            
            <apex:pageBlockSection title="Invoice Details" columns="2">
                <apex:inputField value="{!Account.EP_Billing_Basis__c}" />
                <apex:inputField value="{!Account.EP_Consolidated_Invoice_Print_Options__c}" />
                <apex:inputField value="{!Account.EP_BPAY_Biller_Reference__c}" />
                <apex:inputField value="{!Account.EP_Display_Price__c}" />
                <!--defect 83119 start-->
                <apex:inputField value="{!Account.EP_Advance_Order_Entry_Days__c}" />
                <!--defect 83119 end-->
            </apex:pageBlockSection>            
            
            <apex:pageBlockSection title="Logistics" columns="2">
            <apex:inputField value="{!Account.EP_Customer_PO_Number_required__c}"/>
                <apex:inputField value="{!Account.EP_Delivery_Type__c}" />
                <apex:inputField value="{!Account.EP_Is_Customer_Reference_Visible__c}" />
                <apex:inputField value="{!Account.EP_Is_Customer_Reference_Mandatory__c}" />
                <apex:inputField value="{!Account.EP_Customer_s_PO_number_required_by__c}"/>
                <apex:inputField value="{!Account.EP_Customer_PO_Number__c}"/>
            </apex:pageBlockSection>            
            
            <apex:pageBlockSection title="Payment Details" columns="2">
            <!--CAM 2.7 fix start-->
                <apex:outputField value="{!Account.EP_AvailableFunds__c}" />
                <apex:outputField value="{!Account.EP_Available_Funds_LCY__c}" />
                <apex:outputField value="{!Account.EP_Overdue_Invoice__c}" />
                <apex:outputField value="{!Account.EP_Overdue_Invoice_LCY__c}" />
                <apex:outputField value="{!Account.EP_Balance__c}" />
                <apex:outputField value="{!Account.EP_Balance_LCY__c}" />
            <!--CAM 2.7 fix end-->
            </apex:pageBlockSection>            
            
            <apex:pageBlockSection title="Contact Details" columns="2">
                <apex:inputField value="{!Account.Fax}" />
                <apex:inputField value="{!Account.EP_Mobile_Phone__c}" />
                <apex:inputField value="{!Account.Phone}" />
                <apex:inputField value="{!Account.EP_Email__c}" />
                <apex:inputField value="{!Account.EP_Homepage__c}" />
                <apex:inputField value="{!Account.EP_Telex_No__c}" />
                                
            </apex:pageBlockSection>                     
            
            <apex:pageBlockSection title="Address Information" columns="1">
                <apex:inputField value="{!Account.BillingStreet}" />
                <apex:inputField value="{!Account.BillingState}" />
                <apex:inputField value="{!Account.BillingPostalCode}" />
                <apex:inputField value="{!Account.BillingCountry}" />
                <apex:pageBlockSectionItem />
            </apex:pageBlockSection>          
            
            <apex:pageBlockSection title="Additional Info" columns="2">
                <apex:inputField value="{!Account.EP_Additional_Comments__c}" />
                <apex:pageBlockSectionItem />
            </apex:pageBlockSection>                      
            
        </apex:pageBlock>
    </apex:form>
   

</apex:page>