<apex:page standardController="Opportunity" extensions="EP_CRM_ProgressbarClass">
    <c:EP_CRM_PROGRESSBAR labels="{!oppStageList }"
     shortlabels="{!oppStageNum }" selected="{!Opportunity.StageName}" />
</apex:page>