<!--
 *     Author Name <Amit Singh>
 *     Creation Date <29/11/2016>
 *     Page Name <RedirectAccountEdit>
 *     Description <This page is overriding standard edit account page. 
                        if user clicks edit on already synced account then system will redirect user to change request vf page
                        otherwise standard page.>
 *     Version 1.0
-->
<apex:page standardcontroller="Account" action="{!redirectAccount}" extensions="EP_CustomerEditRedirectController" id="page">
      <c:EP_PerformanceMonitor />
      <apex:sectionHeader subtitle="{!Account.Name}" title="{!$Label.EP_Edit_Account_Section_header_Label}" id="sectionHeader"/>
      <apex:pageMessages id="msg"></apex:pageMessages>
      <apex:outputLink value="/{!Account.id}" id="accLink"> {!$Label.EP_Back_Button_Label}</apex:outputLink>
</apex:page>