<apex:page tabStyle="EP_Tank__c"
    controller="EP_SelectTankDipDatePageExtnClass_R1"
        action="{!retrieveMissingSiteDates}">
    <c:EP_PerformanceMonitor />
    
    <apex:sectionHeader subtitle="{!strSelectedShipToName}: {!$Label.EP_Select_Missing_Tank_Dip_Label}"
        title="{!$Label.EP_Submit_Tank_Dips_Title}" id="sectionHeaderPanel" />

    <script>
        var URL;
        function selectDate() {
            var optionBoxes = document.getElementsByName('selectedDate');
            
            // Fix for Defect 29809 - Start
            
            for (var i = 0; i <= optionBoxes.length; i++) {
                if (optionBoxes[i].checked) {
                    var url = '/apex/EP_TankDipSubmitPage_R1?id={!strSelectedShipToID}&date=' + optionBoxes[i].value + '&md=' + optionBoxes.length + '&pageNumber={!intPageNumber}';
                    
                    if ('{!blnRedirectToAccountPage}' == 'true') {
                        url += '&ret=account';
                    }
                    
                    top.location = url;
                    
                }
            } // End for
            
            // Fix for Defect 29809 - End
            
        }
        
    </script>

    <apex:form >

        <apex:outputPanel id="progressPanel">
            <center>
                <apex:image value="{!URLFOR($Resource.EP_TankDipLib, 'img/Tank_Dip_Wizard_Step2.png')}" />
            </center>
        </apex:outputPanel>

        <apex:pageBlock id="mainTablePanel"
            title="{!$Label.EP_Missing_Tank_Dips_Title}" mode="maindetail"
            rendered="{!(tankDipDates.size > 0)}">
            <apex:pageBlockButtons id="buttonPanel" location="bottom">
                <!-- Hide "Cancel" button -->
                <apex:commandButton value="{!$Label.EP_Cancel_Label}"
                    style="width: 80px;" action="{!cancel}" rendered="false"
                    immediate="true" />
                <apex:commandButton value="{!$Label.EP_Back_Caption}"
                    style="width: 80px;" action="{!back}" immediate="true" />
                <apex:commandButton value="{!$Label.EP_Next_Caption}"
                    style="width: 80px;" onclick="selectDate();return false;"
                    reRender="stockTablePanel,messagePanel,progressPanel,sectionHeaderPanel" />
            </apex:pageBlockButtons>

            <!-- Site Table -->
            <apex:pageBlockTable value="{!tankDipDates}" var="d">
                <!-- Fix for Defect 29809 - Start -->
                <apex:column headerValue="{!$Label.ep_fe_common_date}">
            
                    <apex:outputPanel rendered="{!d.dateSelected}">
                        <input type="radio" name="selectedDate" value="{!d.dateText}"
                            checked='true' />
                        &nbsp;
                        <apex:outputText value="{!d.dateDisplay}" />
                    </apex:outputPanel>
                    <apex:outputPanel rendered="{!NOT(d.dateSelected)}">
                        <input type="radio" name="selectedDate" value="{!d.dateText}" />
                        &nbsp;
                        <apex:outputText value="{!d.dateDisplay}" />
                    </apex:outputPanel>
                </apex:column>
                <apex:column headerValue="{!$Label.EP_Status_Label}">
                    <apex:image value="{!URLFOR($Resource.EP_TankDipLib, 'img/EP_Caution_Status_Icon.gif')}"
                        rendered="{!NOT(d.isToday)}" />
                    <apex:image value="{!URLFOR($Resource.EP_TankDipLib, 'img/EP_Caution_Status_Icon_Amber.gif')}"
                        rendered="{!(isSiteMissingDipsForToday && d.isToday)}" />
                    <apex:image value="{!URLFOR($Resource.EP_TankDipLib, 'img/EP_OK_Status_Icon.png')}"
                        rendered="{!(NOT(isSiteMissingDipsForToday) && d.isToday)}" />
                </apex:column>
                <!-- Fix for Defect 29809 - End -->
            </apex:pageBlockTable>

        </apex:pageBlock>
    </apex:form>

</apex:page>