.slds-button_brand {
	border: 1px solid #d8dde6 !important;
	background-color: #fff !important;
}
.slds-button {
	color: #00945b !important;
}
.cst-required1 {
	border: 1px solid #c23934 !important;
}
.cst-half {
	width: 50%;
	float: right;
	margin-right: 10px;
}
#cancelBtnMultiple{
	display: none;
}

#saveBtnMultiple {
    display: none;
}
#multiple div:nth-child(2) {
    height:149px !important;
}
#multiple div:nth-child(3) {
    height:45px;
}


/**
 * @summary Creates stacked rows with horizontal cells
 *
 * @selector .slds-max-medium-table_stacked-horizontal2
 * @restrict .slds-table
 * @modifier
 * @layout responsive
 * @prototype
 */
  .slds-max-medium-table_stacked-horizontal2,
  .slds-max-medium-table--stacked-horizontal2{
    border: 0; }
  .slds-max-medium-table_stacked-horizontal2 thead,
  .slds-max-medium-table--stacked-horizontal2thead {
    /* stylelint-disable declaration-no-important */
    position: absolute !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    width: 1px !important;
    height: 1px !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
    /* stylelint-enable declaration-no-important */ }
  .slds-max-medium-table_stacked-horizontal2 th,
  .slds-max-medium-table--stacked-horizontal2th {
    border-top: 0; }
  .slds-max-medium-table_stacked-horizontal2 tr,
  .slds-max-medium-table--stacked-horizontal2tr {
    display: block;
    border-top: 2px solid #dddbda; }
  .slds-max-medium-table_stacked-horizontal2 th,
  .slds-max-medium-table_stacked-horizontal2 td,
  .slds-max-medium-table--stacked-horizontal2th,
  .slds-max-medium-table--stacked-horizontal2td {
    display: block;
    padding: 0.75rem;
    max-width: 100%;
    width: 100%;
    clear: both;
    white-space: normal;
    overflow: hidden;
    text-align: left; }
  .slds-max-medium-table_stacked-horizontal2 th.slds-truncate,
  .slds-max-medium-table_stacked-horizontal2 td.slds-truncate,
  .slds-max-medium-table--stacked-horizontal2th.slds-truncate,
  .slds-max-medium-table--stacked-horizontal2td.slds-truncate {
    max-width: 100%; }
  .slds-max-medium-table_stacked-horizontal2 th:before,
  .slds-max-medium-table_stacked-horizontal2 td:before,
  .slds-max-medium-table--stacked-horizontal2th:before,
  .slds-max-medium-table--stacked-horizontal2td:before {
    font-size: 0.75rem;
    line-height: 1.25;
    color: #706e6b;
    text-transform: uppercase;
    letter-spacing: 0.0625rem;
    display: block;
    padding-bottom: 0.25rem;
    content: attr(data-label); }
  .slds-max-medium-table_stacked-horizontal2 tr > td:first-child,
  .slds-max-medium-table_stacked-horizontal2 tr > td:last-child,
  .slds-max-medium-table--stacked-horizontal2tr > td:first-child,
  .slds-max-medium-table--stacked-horizontal2tr > td:last-child {
    padding: 0.75rem; }
  .slds-max-medium-table_stacked-horizontal2:not(.slds-no-row-hover) tbody tr:hover,
  .slds-max-medium-table--stacked-horizontal:not(.slds-no-row-hover) tbody tr:hover {
    /* stylelint-disable declaration-no-important */
    /* stylelint-enable declaration-no-important */ }
  .slds-max-medium-table_stacked-horizontal2:not(.slds-no-row-hover) tbody tr:hover td,
  .slds-max-medium-table_stacked-horizontal2:not(.slds-no-row-hover) tbody tr:hover th,
  .slds-max-medium-table--stacked-horizontal:not(.slds-no-row-hover) tbody tr:hover td,
  .slds-max-medium-table--stacked-horizontal:not(.slds-no-row-hover) tbody tr:hover th {
    background-color: inherit !important;
    box-shadow: none !important; }
  .slds-max-medium-table_stacked-horizontal2 .slds-is-interactive .slds-button,
  .slds-max-medium-table--stacked-horizontal2.slds-is-interactive .slds-button {
    visibility: visible; }
  .slds-max-medium-table_stacked-horizontal2 .slds-cell-shrink,
  .slds-max-medium-table--stacked-horizontal2.slds-cell-shrink {
    width: auto; } 

  .slds-max-medium-table_stacked-horizontal2 td,
  .slds-max-medium-table--stacked-horizontal2td {
    text-align: right; }
  .slds-max-medium-table_stacked-horizontal2 td:before,
  .slds-max-medium-table--stacked-horizontal2td:before {
    float: left;
    margin-top: 0.125rem; }
  .slds-max-medium-table_stacked-horizontal2 .slds-truncate,
  .slds-max-medium-table--stacked-horizontal2.slds-truncate {
    max-width: 100%; } 
    
    

.slds-max-medium-table_stacked-horizontal2 {
	margin: auto;
	width: 70%; 
}
@media only screen and (max-width: 968px) {
    #ttCont {
        width:100% !important;
    }
}